@use "../../../../styles/base/index" as *;

.home {
  padding: 3.125rem 1.875rem;
  font-family: $font-poppins;
  min-height: 100vh;
}

@include respond(md) {
  .home {
    padding: 0rem 3.125rem;
    display: flex;
    flex-direction: column;

    > main {
      flex-grow: 1;
    }
    &__content {
      border-radius: 1rem;
      background-color: $blue-500;
      padding: 1.25rem;
      &__info-actions {
        display: flex;

        &__actions {
          width: 50%;
        }
        &__info {
          width: 50%;
        }
      }
    }
  }
}
@include respond(lg) {
  .home {
    padding: 0rem 10.625rem;
  }
}
