@use "../../../../styles/base/index" as *;

.transactions {
  padding: 3.125rem 1.875rem;

}

@include respond(md) {
  .transactions {
    padding: 0px 3.125rem;
   
    &__button{
        display: none;
    }
  }
}
@include respond(lg) {
  .transactions {
    padding: 0px 10.625rem;
  }
}
