<app-navbar />
<section class="transactions">
  <app-transactions-account />
  <app-time-filter />
  <app-card-transactions
    *ngFor="let t of transactions"
    [transaction]="t"
    (edit)="openEditModal($event)"
  >
  </app-card-transactions>

  <app-modal-edit
    *ngIf="selectedTransaction"
    [show]="true"
    [tipo]="selectedTransaction.tipo"
    [transaction]="selectedTransaction"
    (close)="closeModal()"
  ></app-modal-edit>

  <app-transactions-button class="transactions__button" />
</section>
<app-footer />
