@use "../../../../styles/base/index" as *;

.transactions {
  padding: 3.125rem 1.875rem;
  min-height: 100vh;
  font-family: $font-poppins;
}

.footer {
  display: none;
}

@include respond(md) {
  .transactions {
    padding: 0rem 3.125rem;
    &__button {
      display: none;
    }
  }
}
@include respond(lg) {
  .transactions {
    padding: 0rem 10.625rem;
  }

  .footer {
    display: block;
  }
}
