<app-navbar />
<section class="transactions">
  <app-transactions-account />
  <app-time-filter (filterChange)="onFilterChange($event)"/>
  <app-card-transactions
    *ngFor="let t of filteredTransactions"  [transaction]="t"
    [transaction]="t"
    (edit)="openEditModal($event)"
    (view)="openViewModal($event)"
    (delete)="openDeleteModal($event)"
  ></app-card-transactions>

  <app-modal-edit
    *ngIf="showEditModal"
    [show]="true"
    [tipo]="selectedTransaction?.tipo"
    [transaction]="selectedTransaction"
    [transacaoId]="selectedTransaction?._id"
    (close)="closeEditModal()"
  ></app-modal-edit>
  <app-modal-view
    *ngIf="showViewModal"
    [show]="true"
    [tipo]="selectedTransaction?.tipo"
    [selectedTransaction]="selectedTransaction"
    (close)="closeViewModal()"
  ></app-modal-view>
  <app-modal-delete
    *ngIf="showDeleteModal"
    [show]="showDeleteModal"
    [selectedTransaction]="selectedTransaction"
    (close)="closeDeleteModal()"
  ></app-modal-delete>

  <app-transactions-button class="transactions__button" />
</section>
<app-footer class="footer" />
