<app-navbar/>
<section class="expense">
    <app-expense-account/>
    <app-time-filter/>
     <app-card-transactions
    *ngFor="let t of filteredTransactions"  [transaction]="t"
    [transaction]="t"
    (edit)="openEditModal($event)"
    (view)="openViewModal($event)"
    (delete)="onDeleteTransaction($event)"
  ></app-card-transactions>
    <app-modal-delete
    *ngIf="showDeleteModal"
    [show]="showDeleteModal"
    [selectedTransaction]="selectedTransaction"
    (close)="closeDeleteModal()"
    (confirm)="onConfirmDelete()"
  ></app-modal-delete>
<app-transactions-button class="expense__button"/>
</section>
<app-footer/>