<section class="account-card">
  <div class="account-card__nav">
    <i class="bi bi-chevron-compact-left text-light"></i>
    <select class="form-select account-card__nav__dropdown text-light" aria-label="Despesas">
      <option selected class="form-select account-card__nav__dropdown__option">Despesas</option>
      <option value="" class="form-select account-card__nav__dropdown__option">Receitas</option>
      <option value="" class="form-select account-card__nav__dropdown__option">Transações</option>
    </select>
  </div>
  <div class="account-card__menu">
    <app-card-info/>
    <app-actions
        class="account-card__menu__actions"
        (statement)="openStatementModal()"
        (abrirModal)="openModal($event)"
      />
      <app-modal-statement
        *ngIf="showStatementModal"
        [show]="true"
        (close)="closeStatementModal()"
      >
      </app-modal-statement>
      <app-modal-transactions
      *ngIf="showModal"
      [show]="true"
      [tipo]="modalTipo"
      (close)="closeModal()"
      >
      </app-modal-transactions>
  </div>
</section>