
$font-poppins: "Poppins", sans-serif;

// Variáveis de cores
$white: #fff;
$light-gray: #f7f7f7;
$gray-50: #FAFAFA;
$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #bdbdbd;
$gray-500: #9E9E9E;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$black: #000;

$blue-50: #e6ebf0;
$blue-100: #D9E0E8;
$blue-200: #b0c0d0;
$blue-300: #003366;
$blue-400: #002e5c;
$blue-500: #002952;
$blue-600: #00264d;
$blue-700: #001f3d;
$blue-800: #00172e;
$blue-900: #001224;

$purple-100: #D1C4E9;
$purple-200: #B39DDB;
$purple-300: #9575CD;
$purple-400: #7E57C2;
$purple-500: #673AB7;
$purple-600: #5E35B1;
$purple-700: #512DA8;
$purple-800: #4527A0;
$purple-900: #311B92;

//cores de sistema
$red-light: #FF3232;
$red-normal: #E20303;
$red-dark: #B10808;

$green-light: #247901;
$green-normal: #164D00;
$green-dark: #123D00;

$yellow-light: #FF9500;
$yellow-normal: #FFB041;
$yellow-dark: #C87500;

// Variáveis de breakpoints
$xs: 0px;
$sm: 481px;
$md: 769px;
$lg: 1025px;
$xl: 1201px;
